@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

$primary: #00a796;
$primary-dark: #026158;
$dark: #1f2732;
$dark-light: #2a343f;
$white: #fff;
$red: #fc6666;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sans Pro', sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  background-color: $dark;
  color: $white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

button,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}
 
.todo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  background-color: $dark-light;
  padding: 10px;
  border-radius:999px;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;

  input[type="text"] {
    background-color: transparent;
    margin-left: 10px;
    border: none;
    font-size: 1.125rem;
    color: $white;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }


  &-completed {
    input[type="text"] {
      text-decoration: line-through;
    }
  }
}

.todo:hover {
  opacity: 0.8;

}

.todo:is-complete {
  background-color: $primary-dark;
  color: $white;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-left: 32px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;

  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $white;
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


.add-popup {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  border-radius: 999px;
  font-size: 28px;
  font-weight: 900;
  color: $primary;
  background-image: linear-gradient(to bottom right, $primary-dark, $primary);
  cursor: pointer;

}

.popup-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 400px;
  background-color: $white;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px, 3px, 24px $dark
}

.close-popup {
  position: absolute;
  top: 16px;
  right: 16;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: $dark;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  border-radius: 50%;
}

.popup-container h3{
  color: $dark;
  margin-bottom: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.addTodoInput{
  appearance: none;
  border: none;
  outline: none;
  background-color: #FFF;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 24px $dark;
  width: 100%;
  font-size: 20px;
}

.add-popup:hover {
  background-image: linear-gradient(to bottom right, $primary-dark, $primary);
}

.button{
  padding: 16px 16px;
  border-radius: 99px;
  background-image: linear-gradient(to right, $primary-dark, $primary);
  display: inline-block;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.todo_text {
  cursor: pointer;
}

.add-close{
  cursor: pointer;
  font-size: 21px;
  color: red;
  float: right;
  margin-bottom: 16px;
}

.todo{
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title{
  font-size: 30px;
  font-weight: bold;
  color: $primary;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 16px;
}